:root {
    font-family: Roboto, serif;
    --honey-beige: #f2e3c6;
    --honey-beige-dark: #dbcdb3;
    --honey-beige-darker: #C2B69E;
    --honey-beige-darkest: #554F45;
    --crimson: #e6324b;
    --crimson-dark: #cc1a31;
    --crimson-darker: #be192f;
    --dark-gray: #353634;
    --darker-gray: #2b2b2b;
}